@model IEnumerable<SportsClubMVC_1280429.Models.Sport>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Sports", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SportsTitle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SportsTitle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SportsId }, htmlAttributes: new {@class="btn btn-primary"})
            @Html.ActionLink("Details", "Details", new { id=item.SportsId }, htmlAttributes: new { @class = "btn btn-success" })
            @Html.ActionLink("Delete", "Delete", new { id=item.SportsId }, htmlAttributes: new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
