@model SportsClubMVC_1280429.Models.ViewModels.SportsViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add New Player</h2>
@using (Html.BeginForm("Create", "Player", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-6">
            <div class="form-group row">
                @Html.LabelFor(e => e.PlayerName, htmlAttributes: new { @class = "control-label col-3" })
                <div class="col-9 mb-2">
                    @Html.EditorFor(e => e.PlayerName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(e => e.PlayerName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(e => e.DateOfBirth, htmlAttributes: new { @class = "control-label col-3" })
                <div class="col-9 mb-2">
                    @Html.EditorFor(e => e.DateOfBirth, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control", Type = "date" } })
                    @Html.ValidationMessageFor(e => e.DateOfBirth, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(e => e.Age, htmlAttributes: new { @class = "control-label col-3" })
                <div class="col-9 mb-2">
                    @Html.EditorFor(e => e.Age, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(e => e.Age, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(e => e.Salary, htmlAttributes: new { @class = "control-label col-3" })
                <div class="col-9 mb-2">
                    @Html.EditorFor(e => e.Salary, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(e => e.Salary, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(e => e.Status, htmlAttributes: new { @class = "control-label col-3" })
                <div class="col-9 mb-2">
                    <div class="checkbox">
                        @Html.EditorFor(e => e.Status)
                        @Html.ValidationMessageFor(e => e.Status, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <img src="~/Images/noimage.png" id="ImgFile" width="80" height="80" class="rounded" />
                </div>
                <div class="col-9">
                    <input type="file" id="upimage" class="upimage" name="PicturePath" style="display:none" onchange="readUrl(this);" />
                    <label for="upimage" class="labelupimage">Upload Image</label>
                </div>
            </div>
        </div>
        <div class="col-6">
            <h2>Select Sports</h2>
            <div class="d-flex justify-content-end mb-2">
                <a href="#" id="btnPlus" style="width:90px" class="btn btn-warning mr-2">Add</a>
            </div>
            <div id="QualificationContainer">
                @Html.Action("AddNewSports", "Player")
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end offset-10">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
}
<script src="~/Scripts/jquery-3.7.1.js"></script>
<script>
    function readUrl(input) {
        if (input.files && input.files[0]) {
            var rdr = new FileReader();
            rdr.onload = function (e) {
                $('#ImgFile').attr('src', e.target.result);
            };
            rdr.readAsDataURL(input.files[0]);
        }
    }
    $('#btnPlus').click(function (e) {
        e.preventDefault();
        var qualificationContainer = $('#QualificationContainer');
        $.ajax({
            url: "/Player/AddNewSports",
            type: "GET",
            success: function (data) {
                qualificationContainer.append(data);
            }
        })
    });

    $(document).on('click', "#btnDeleteSports", function (e) {
        e.preventDefault();;
        $(this).parent().parent().remove()
    })
</script>
